* {
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #404040;
    color: white;
}

.title {
    padding-top: 10px;
    font-size: 40px;
}

.tab-container {
    flex: 1;
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    font-size: 25px;
    border: 0;
    background-color: #404040;
    color: white;
}

button:hover {
    border-bottom: 3px solid white;
    cursor: pointer;
}