* {
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #404040;
    color: white;
}

.title {
    padding-top: 10px;
    font-size: 40px;
}

.tab-container {
    flex: 1;
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    font-size: 25px;
    border: 0;
    background-color: #404040;
    color: white;
}

button:hover {
    border-bottom: 3px solid white;
    cursor: pointer;
}

.content {
    height: 1100px;
    background: url('./hotpot.jpeg') no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home-content,
.menu-content,
.contact-content {
    width: 40%;
    background-color: #27272a;
    opacity: 0.98;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
}

.home-text,
.menu-text,
.contact-text {
    font-size: 30px;
    width: 90%;
    color: white;
    text-align: center;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.home-picture {
    width: 300px;
    height: 300px;
    background: url('./meat.jpg') no-repeat;
    margin-top: 10px;
}

.menu-picture {
    width: 560px;
    height: 680px; 
    background: url('./menu.jpg') no-repeat;
    margin-top: 10px;
}

.footer {
    height: 30px;
    color: white;
    background-color: #404040;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}